{% extends "base.html" %}

{% block content %}

    <h2 class="display-6 fw-bold headings text-center mb-5"> Stages </h2>

    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row row-cols-1 row-cols-md-4 g-4">

                    {% for stage in stages %}
                        <div class="col-md-3">

                            <div class="card h-100">
                                <img src="{{ stage.image_link }}" class="card-img-top img" alt="card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ stage.bedrijfsnaam }}</h5>
                                    <p class="card-text">{{ stage.beschrijving }}</p>

                                </div>
                                <div class="card-footer">

                                    <div class="button-container">

                                        {% if current_user.is_authenticated %}

                                            <form method="POST" action="/stages" class="form-inline">
                                                {{ form.hidden_tag() }}
                                                <input type="hidden" name="stage_id" value="{{ stage.id }}">
                                                {{ form.submit(class="btn btn-outline-danger") }}
                                            </form>

                                        {% else %}

                                            <form method="POST" action="/stages">
                                                <input type="hidden" name="stage_id" value="{{ stage.id }}">
                                                <button type="submit" class="btn btn-outline-danger"> ❤️ </button>
                                            </form>
                                        {% endif %}
                                    </div>

                                    <hr>

                                    <span class="badge rounded-pill text-bg-primary">{{ stage.stad }}</span>
                                    <span class="badge rounded-pill text-bg-primary">{{ stage.sector }}</span>
                                    <span class="badge rounded-pill text-bg-primary">{{ stage.stage_duur }}</span>
                                    <span class="badge rounded-pill text-bg-primary">{{ stage.opleidingsniveau.niveau }}</span>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
